@font-face {
  font-family: 'obviously';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ericaone/v23/WBLnrEXccV9VGrOKmGDFXEXNBsKhiA.woff2) format('woff2');
}
